@model CustomerFormModel

@{
    ViewData["Title"] = "Edit Customer";
}

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2>Edit Customer</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <form asp-controller="Customers" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" id="fname" placeholder="Enter first name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" id="lname" placeholder="Enter last name">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address1"></label>
                <input asp-for="Address1" class="form-control" id="address1" placeholder="Enter address 1">
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2"></label>
                <input asp-for="Address2" class="form-control" id="address2" placeholder="Enter address 2">
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" id="phone-number" placeholder="Enter phone number">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}